* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: calibri, Georgia, Times, serif, sans-serif;
}

html, body, section {
  background-color: #070708;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

.contenedor-boton {
  background-color: #070708;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-boton .boton {
  background-color: #070708;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: #fa7b04;
  padding: 10PX 20PX;
  border-radius: 100px;
  font-weight: bold;
  gap: 1rem;
  border: 3px solid whitesmoke;
  font-size: 16px;
  cursor: pointer;
}
.contenedor-boton a {
  color: whitesmoke;
  text-decoration: none;
}

@media (min-width: 768px) {
  .contenedor-boton .boton {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .contenedor-boton .boton {
    width: 10%;
  }
}
.card-section {
  background-color: #1F1F23;
  border: 1px solid #424246;
  border-radius: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  align-content: center;
}
.card-section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  text-decoration: none;
  color: whitesmoke;
}
.card-section img {
  width: 60px;
  height: 60px;
  filter: brightness(0) invert(1);
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 0.6rem;
}

.navbar {
  background-color: #1F1F23 !important;
  border-bottom: 1px solid #2f2f35;
  text-align: center;
}
.navbar .navbar-brand {
  color: #fa7b04 !important;
  font-weight: 600;
}
.navbar .nav-link {
  color: whitesmoke !important;
  transition: 0.2s;
}
.navbar .nav-link:hover {
  color: #fa7b04 !important;
}

.galeria {
  display: block;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}
.galeria .item {
  border: 1px solid #777575;
  padding: 15px;
  width: 100%;
}
.galeria .item p {
  text-align: center;
}
.galeria .item img {
  width: 20%;
  height: 20%;
}

@media (min-width: 768px) {
  .galeria {
    display: flex;
  }
  .galeria .item img {
    width: 128px;
    height: 196px;
    justify-items: center;
  }
}
@media (min-width: 1024px) {
  main div h3 {
    text-align: center;
    color: whitesmoke;
  }
  .galeria {
    display: flex;
  }
  .galeria .item img {
    width: 128px;
    height: 196px;
  }
}
.header,
.header-wrapper {
  background-color: #070708;
  background-color: #070708;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1rem 0;
  position: relative;
}

header.header .logo {
  width: 110px;
  height: auto;
  display: block;
  margin-right: 5rem;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  color: whitesmoke;
  line-height: 1.1;
  text-align: center;
}

.header h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: whitesmoke;
  line-height: 1.1;
  text-align: center;
}

.header div div {
  color: whitesmoke;
  text-align: center;
}

.header div div span {
  margin-top: 0.35rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: whitesmoke;
  font-size: 0.95rem;
  background-color: rgba(63, 146, 46, 0.842);
  padding: 0 2px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .header .title-group h1 {
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
  }
  .header div {
    font-size: 2.5rem;
    color: whitesmoke;
    text-align: center;
  }
  .header .title-group span {
    font-size: 2.5rem;
  }
  .header h2 {
    font-size: 2.5rem;
  }
  .header div div span {
    margin-top: 0.35rem;
    font-weight: 700;
    font-size: 2.5rem;
    color: whitesmoke;
    font-size: 0.95rem;
    background-color: rgba(63, 146, 46, 0.842);
    padding: 0 6px;
    border-radius: 4px;
  }
}
@media (min-width: 1024px) {
  .header .title-group h1 {
    font-size: 1.6rem;
    text-align: center;
    justify-content: center;
  }
  .header .title-group div {
    font-size: 1.6rem;
    color: whitesmoke;
    text-align: center;
  }
  .header .title-group span {
    font-size: 1.6rem;
  }
  .header h2 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    color: whitesmoke;
    line-height: 1.1;
    text-align: center;
  }
}
main h4 {
  text-align: center;
  background-color: #070708;
  color: whitesmoke;
  margin-bottom: 0 !important;
  padding: 1rem;
}
main h2 {
  text-align: center;
  font-weight: bold;
  background-color: #070708;
  color: whitesmoke;
  margin-bottom: 0 !important;
  padding: 1rem;
}
main section div div img {
  width: 96px;
  height: 96px;
  border-radius: 1rem;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}
main section h4 img {
  width: 96px;
  height: 96px;
  border-radius: 1rem;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}
main .card-section a:hover img {
  transform: scale(1.2);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.15);
}

section {
  background-color: #070708;
  color: whitesmoke;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: left;
  /* Iconos de los botones */
}
section div img {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  background-color: #464642;
  margin-right: 10%;
}

@media (min-width: 768px) {
  section.section-uno {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
    padding: 3rem 5%;
    justify-content: center;
    align-items: center;
  }
  /* Iconos de los botones */
  div img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    background-color: #464642;
    margin-right: 10%;
  }
}
@media (min-width: 1024px) {
  section.section-uno {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1.8rem;
    padding: 2rem 5%;
  }
  section.section-uno div img {
    height: 50px;
    width: 50px;
    margin-right: 8%;
  }
}
.site-footer {
  background: #1F1F23;
  color: #e5e7eb;
  padding: 2rem 1rem;
  text-align: center;
}
.site-footer .footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.site-footer .social {
  display: flex;
  gap: 1rem;
}
.site-footer .social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.06);
  transition: background 0.3s ease, transform 0.3s ease;
}
.site-footer .social__link:hover {
  background: linear-gradient(135deg, #a4afec, #474747);
  transform: translateY(-2px);
}
.site-footer .social__icon {
  width: 24px;
  height: 24px;
  fill: #e5e7eb;
  transition: fill 0.3s ease;
}
.social__link:hover .site-footer .social__icon {
  fill: #fff;
}

.pdf-container {
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
}

object {
  width: 100%;
  height: 480px;
}
@media (min-width: 1024px) {
  object {
    height: 600px;
  }
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #1c1c1f;
  border: none;
}

.dropdown-item {
  color: white !important;
}
.dropdown-item:hover {
  background-color: #070708 !important;
  color: #ffe600 !important;
}

@media (min-width: 768px) {
  .section-uno {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "area-uno area-dos" "area-tres area-cuatro";
  }
  h1 {
    text-align: center;
  }
  section {
    flex-direction: row;
    gap: 2rem;
  }
  main h2,
  main p {
    text-align: center;
    background-color: #070708;
    color: whitesmoke;
    margin-bottom: 0 !important;
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  .card-section {
    background-color: #1F1F23;
    border: 1px solid #424246;
    border-radius: 1rem;
    width: 11rem;
    height: 11rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-section img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }
  .card-section h3 {
    margin-top: 0.7rem;
    font-size: 1rem;
    color: whitesmoke;
    font-weight: 600;
    text-align: center;
  }
  .card-section .boton {
    background-color: rgb(62, 11, 202);
  }
  .card-section:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
  }
}

/*# sourceMappingURL=main.css.map */
