// ==========================================================
//   MEDIA QUERY — TABLET (≥768px)
//   Distribución de botones en cuadrícula 2 × 2
// ==========================================================

@media (min-width: 768px) {

  .section-uno {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "area-uno area-dos"
      "area-tres area-cuatro";
  }
  
  h1 {
    text-align: center;
  }

  section {
    flex-direction: row;
    gap: 2rem;
  }

  main {
  h2,
    p {
      text-align: center;
      background-color: $color-bg;
      color: whitesmoke;
      margin-bottom: 0 !important;
      padding: 1rem;
    }
  }

}