// ==========================================================
//   TIPOGRAFIA
//   Tipografías y ajustes tipográficos globales.
// ==========================================================

body {
  font-family: calibri, Georgia, Times, serif, sans-serif;
}
